body 
{
	min-width: 357px;
	font-family: Arial;
}
      
input
{
	font-family: Arial;
}

div
{
	float:left;
	margin-left: 5px;
}    
   
.badword
{
	color: Red;
}

.complexword
{
	color: Green;
	text-decoration: underline;
}

.translatedgroup
{
	color: Orange;
	text-decoration: underline;
}

.translatedgroup.complexword
{
	color:Lime;
	text-decoration: underline;
}
